{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>용기모아</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/subcss.css' %}"/>
</head>
<body>
    <div id='storecss'>
    <br>
    <strong>고객님의 휴대전화 번호를 입력해주십시오.</strong><br>('-' 제외하고 작성)
    <form action="" method="POST">
        {% csrf_token %}
        <br><input id='press1' name="inputnum" type="text" placeholder="ex) 01012345678">
        <br><br><br>
        <input id='press2' type="submit" value="적립하기">
    </form>
    </div>
</body>
</html>